body {
  font-family: "Cascadia Code", Cascadia;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1c1c1e, #2d2d30);
  color: #f0f0f0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
}

header h1 {
  font-size: 2.8rem;
  color: #00ff00;
  margin-bottom: 0;
}

header h2 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ccc;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #ccc;
}

.instructions {
  margin-top: 20px;
  font-size: 1.1rem;
  background-color: rgb(1, 33, 0);
  padding: 15px 20px;
  border-left: 4px solidrgb(0, 255, 13);
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 255, 55, 0.1);
}

textarea#xmlInput {
  width: 100%;
  font-family: monospace;
  font-size: 1rem;
  padding: 15px;
  border: 2px solid #00ff00;
  border-radius: 8px;
  background-color: #2d2d30;
  color: #f0f0f0;
  resize: vertical;
  transition: border 0.3s ease;
}

textarea#xmlInput:focus {
  border-color: rgb(0, 221, 11);
  outline: none;
  box-shadow: 0 0 8px rgba(0, 255, 47, 0.3);
}

.upload-section {
  margin-top: 25px;
}

#drop-area {
  border: 2px dashed #00ff00;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  background-color: rgb(0, 107, 37);
  transition: 0.3s ease;
}

#drop-area:hover {
  background-color: #3a3a3d;
}

#drop-area p {
  margin: 0 0 10px;
  color: #aaa;
}

input[type="file"] {
  display: none;
}

.button {
  background-color: #00ff00;
  padding: 10px 24px;
  color: #1c1c1e;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  background-color: rgb(0, 221, 33);
}

.file-name {
  margin-top: 15px;
  font-style: italic;
  color: #ccc;
}

.actions {
  margin-top: 25px;
  text-align: center;
}

#analyseBtn {
  padding: 12px 28px;
  font-size: 1rem;
  background-color: #00b977;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 185, 119, 0.3);
  transition: 0.3s;
}

#analyseBtn:disabled {
  background-color: #666;
  box-shadow: none;
  cursor: not-allowed;
}

#analyseBtn:hover:not(:disabled) {
  background-color: #00a868;
}

.loading {
  text-align: center;
  margin-top: 40px;
}

.loader {
  border: 6px solid #333;
  border-top: 6px solid #00ff00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.result {
  margin-top: 40px;
  text-align: center;
}

#downloadBtn {
  margin-top: 15px;
  background-color: #00ff00;
  color: #1c1c1e;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

#downloadBtn:hover {
  background-color: rgb(0, 221, 0);
}

.hidden {
  display: none;
}
